{% extends "base.html" %}

{% block title %} Jolrobless {% endblock title %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}

    <div class="overlay"></div>
    <section class="top-part">
      <img src="{{ object.image.url }}">
    Your browser does not support the image tag.
    </section>


  <section class="cd-hero">

    <ul class="cd-hero-slider">
      <li class="selected">
        <div class="heading">
          <h1>{{object.titulo}}</h1>
          <span>Bienvenido</span>
        </div>
        <div class="cd-half-width second-slide">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="content second-content">
                  <div class="row"><br>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                      <img src="{{ object.image.url }}">
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <div class="text">
                          <h4>{{object.titulo}}</h4>
                          <p>{{object.fecha_creacion}}</p>
                          <p>{{object.contenido}}</p>
                          <div class="primary-button">
                            <a href="/">Volver</a>
                          </div><br>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

  </section> <!-- .cd-hero -->
{% endblock content %}
