{% load staticfiles %}
<div class="cd-slider-nav">
  <nav>
    <span class="cd-marker item-1"></span>
    <ul>
      <li class="selected"><a href="#0"><div class="image-icon"><img src="{% static 'img/home-icon.png' %}"></div><h6>Inicio</h6></a></li>
      <li><a href="#0"><div class="image-icon"><img src="{% static 'img/about-icon.png' %}"></div><h6>Sobre Mi</h6></a></li>
      <li><a href="#0"><div class="image-icon"><img src="{% static 'img/featured-icon.png' %}"></div><h6>Proyectos</h6></a></li>
      <li><a href="#0"><div class="image-icon"><img src="{% static 'img/projects-icon.png' %}"></div><h6>Galeria</h6></a></li>
      <li><a href="#0"><div class="image-icon"><img src="{% static 'img/contact-icon.png' %}"></div><h6>Contactame</h6></a></li>
    </ul>
  </nav>
</div> <!-- .cd-slider-nav -->
